/* commentaire en css*/
* {
    /* l'étoile ou asteristique signifi quen sellection tout le document, c'est un sélé
    */
    text-align: right; /* aligne le text à droit */
}
.body{
    background: rgb(5, 5, 5); /* couleur de fond */
}
header{
    background-color: rgb(24, 23, 23);
    color: white; /* couleur de text */
    height: 100px; /* hauteur fixé à 100px */
}
nav{
    background-color: rgb(22, 21, 20);
    height: 60px;
}
section{
     background: rgb(92, 60, 60);
     height: 550px;
     color: rgb(238, 240, 237);
}
article{
    background-color: rgb(76, 55, 55);
    height: 90px;
    font-weight: 200px;

}
nav, footer{
    /*je separe les difirent balise à séllectioner par de vergule */
}
/*pour selectio une class css, j'utilise  un poin avant le nom que je lui ai donner */
.jaune{
    background-color: rgb(0, 0, 0);
    color: rgb(226, 216, 216);
    font-size: x-large;
    
}
#noire{
    background-color:rgb(6, 6, 6);
    color: #fff;
    text-align: justify;
    width: 200px;
    height: ;
}