body{
    width: 960px;
    margin: auto;
}
.green, .pink, .vert, .blue{
    border: 2px solid black;
    width: 14%;
    height: 10em;
    text-align: center;

}
.green{ 
    background-color: green;
    color: black;
    border-radius: 40% 0%;
}
.blue{
    background-color: blue;
    color: #000;
    border-radius: 40% 0%;
}
.block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 10px 0 ;
}
.vert{
    background-color: aquamarine;
    color: #000;
    border-radius: 50%;
}
.pink{
    background-color: darksalmon;
    color: #000;
    border-radius: 50%;
    border: radius 50%; 
}